body {
    color: rgb(86, 161, 0);
    background-color: rgb(0, 0, 0);
    font-family: "arial";
    font-size: 20px;
}

header {
    background-color: rgb(116, 230, 160);
    margin: 0 auto;
}

#format {
    background-color:  rgb(116, 230, 160);
    padding: 15px 0 15px 15px;
}

#graphic {
    border-color:  rgb(116, 230, 160);
    border-radius: 10px;
    border-style: solid;
    box-shadow: 5px 5px 10px rgba(183, 196, 4, 1);
}

.site-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}

.site-menu li {
    padding: 10px;
}